:root {
  font-family: 'Josefin Sans', sans-serif;
  --dark-purple: #5A295B;
  --purple: #9E14A0;
  --light-purple: #F0D8F0;
  --white: #FFFFFF;
  --black:#000000;
}

body {
  margin: 0;
  padding: 0; 
}

.title {
  color: var(--dark-purple);
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

@media screen and (min-width:992px) {
  .title {
    color: var(--dark-purple);
    font-weight: 700;
    font-size: 4rem;
  }
}

.app_container_border {
  border: 0.4rem solid var(--dark-purple);
  border-radius: 0.5rem;
}
.app_container_result {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  border-bottom: 0.3rem solid var(--dark-purple);
}
.app_container_buttons {
  display: grid;
  gap: 0.5rem;
}
.app_container_numbers{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.app_container_operators {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}